/* used google fonts to import a new font-family called Inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* wild card css selectors that adjusts the broswers margin and padding */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* we used the root selector to edit the highest parent element which is the html */

:root {
  --panel-growth-duration: 0.7s;
  --image-text-content-transition-delay: calc(
    var(--panel-growth-duration) + 0.1s
  );
}


body {
  /* this css property changes the font of the body */
  font-family: "Muli", sans-serif;
  /* displayed the body in a flex position */
  display: flex;
  /* took the items in the body tag and aligned them to the center */
  align-items: center;
  justify-content: center;
 /* height is set to vertical height */
  height: 100vh;
  /* this property tag was used to keep the text in the body tag from spilling out */
  overflow: hidden;
  margin: 0;
  background-image: url('https://i.pinimg.com/originals/0e/b3/17/0eb317a3b45831fe09903bf57fde65cf.gif');
  /* used this property to prevent the background image from repeating its self */
  background-repeat: no-repeat;
  /* used this property to stretch out the background image to stretch throughout the whole browser */
  background-size: cover;
}

/* this class selector is used to take everything that is wrapped inside to set the display and width to a certain degree */
.container {
  display: flex;
  width: 90vw;
}

/* this class selector customizes  */
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex var(--panel-growth-duration) ease-in;
  -webkit-transition: flex var(--panel-growth-duration) ease-in;
  overflow: hidden;
}

.panel.expanding,
.panel.active {
  flex: 5;
}

li {
    margin: 65px 0;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
  }


  /* -----------------------------------------------------------------------------------------------
  Button Settings */

  .btnr:before {
    content: '';
    background: linear-gradient(45deg, #ffa69e, #861657, #5f0a87, #a4508b);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    
   }
   
    .btnr:active {
       color:#000;
   
   }
   
   .btnr:active:after {
       background: transparent;
   }
   
   .btnr:hover:before {
       opacity: 1;
   }
   
    .btnr:after {
       z-index: -1;
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       background: #111;
       left: 0;
       top: 0;
       border-radius: 10px;
   }
   
   .btnr {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     left: 230px;
     top: -70px;
     right: 0px;
     bottom: 0px;
     transform: translateX (-50%);
     text-decoration: none;
     color: #F0F0F0;
     outline: none;
     border: none;
     font-weight: bold;
     text-transform: uppercase;
     border-radius: 10px;
     width: 220px;
     height: 50px;
     background: rgb(0, 0, 0);
     z-index: 0;
   }
   
   @keyframes glowing {
     0% { background-position: 0 0; }
     50% { background-position: 400% 0; }
     100% { background-position: 0 0; }
   } 

/* --------------------------------------------------------------------------------------------------------
Overlay Settings */
/* https://www.youtube.com/watch?v=exb2ab72Xhs */

/* The ::before pseudo-element is being used as the overlay */

.panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s;
  filter: blur(5px);
}



.panel:hover::before {
  opacity: 1;
}

/* .image__text-content is a class selector created to manipulate  */

.image__text-content {
  transform: translateY(20px);
  opacity: 0;
}

/* .expanding .image__text-content is a class selector created to control text transition delays and transition smoothness */

.expanding .image__text-content {
  transition: transform 0.25s var(--image-text-content-transition-delay),
    opacity 0.3s var(--image-text-content-transition-delay);
}

/* The .active .image__text-content causes text within each panel to pop up only when said panel is active. 
(transition: transform 0.25s, opacity 0.3s; Gives a bounce and fade in effect */

.active .image__text-content {
  transition: transform 0.25s, opacity 0.3s;
}

/* The active:hover .image__text-content is used to to allow all elements within the <div> to be interactive 
when a user hovers over it with a mouse pointer //// transform: translateY is a property used to offset the text on a Y axis (vertical axis) */

.active:hover .image__text-content,
.expanding .image__text-content {
  transform: translateY(0);
  opacity: 1;
}

/* The image__title tag is a class created to manipulate the text contents within the body */

.image__title {
  font-size: 2em;
  text-align: center;
}

/* The image__description tag is a class created to manipulate the text contents within the body */

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

/* ----------------------------------------------------------------------------------------------------------
Mobile Settings */

/* The @media rule is used in media queries to apply different styles for different media types/devices. */

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  
  

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
